.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-nav{
  background-color: #EBF6C0;
  padding: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.padding-margin{
  line-height:0;
}

.botones_aplicacion{
  background-color: #EBF6C0;
  color: #282c34;
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.botones_aplicacion_rojos{
  background-color: #EC4848;
  color: #282c34;
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.register-mt{
  margin-top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  width: 100%;
  height: 90vh;
}
.places-container{
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 250px;
  border-radius: 20px;
}
.location-container{
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 10;
  background-color: #EBF6C0;
  border: 1px solid #0058F1;
  border-radius: 50%;

}
.combobox-input{
  width: 100%;
  padding: 0.5rem;
}